graft src
graft tests

include setup.cfg pyproject.toml
include tox.ini
include CHANGES.txt
include LICENSE.txt
include README.md

recursive-exclude * __pycache__ *.py[cod] .DS_Store



include README.md
include pyramid_forksafe/debugtoolbar/__init__.py
include pyramid_forksafe/debugtoolbar/panels/__init__.py
include pyramid_forksafe/debugtoolbar/panels/forksafe.py
include pyramid_forksafe/debugtoolbar/panels/templates/forksafe.dbtmako
